*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.header{
    min-height: 1vh;
    width: 100%;
    background-color: #22272e;
    background-position: center;
    position: relative;
}

body{
    font-family: Orbitron;
}

label.logo{
    color:azure;
    font-size: 40px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
}

.main-nav-bar{
    background: #2d333b;
    height: 80px;
    width: 100%;
}

.nav-links ul{
       float: right;
       margin-right: 40px;
}

.nav-links ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.nav-links ul li a{
    color: azure;
    text-decoration: none;
    font-size: 20px;
    padding: 4px 10px;
    border-radius: 4px;
}

a.active,a:hover{
    background: #ffffff52;
    transition: .5s;
}

.section-partition{
    background: #2d333b;
    height: 80px;
    width: 100%;
}

.section-about-desc{
    min-height: 73vh;
    width: 100%;
    background-color: #22272e;
    background-position: center;
    position: relative;
}

.about-descrip{
    color: azure;
    text-align: center;
    font-family: Segoe UI;
    font-size: 20px;
    padding: 2px 200px;
}

.social-links{
    min-height: 1vh;
    width: 100%;
    background-color: #22272e;
    background-position: center;
    position: relative;
}

.footer{
    min-height: 20vh;
    width: 100%;
    background-color: #2d333b;
    background-position: center;
    position: relative;
}

.footer-text1{
    color: azure;
    text-align: center;
}

.footer-text2{
    color: azure;
    text-align: center;
}