*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: #22272e;
    background-position: center;
    position: relative;
}

body{
    font-family: Orbitron;
}

label.logo{
    color:azure;
    font-size: 40px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
}

nav{
    background: #2d333b;
    height: 80px;
    width: 100%;
}

.nav-links ul{
       float: right;
       margin-right: 40px;
}

.nav-links ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.nav-links ul li a{
    color: azure;
    text-decoration: none;
    font-size: 20px;
    padding: 4px 10px;
    border-radius: 4px;
}

a.active,a:hover{
    background: #ffffff52;
    transition: .5s;
}

.about-descrip{
    color: azure;
    text-align: center;
}