*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.header{
    min-height: 2vh;
    width: 100%;
    background-color: #22272e;
    background-position: center;
    position: relative;
}

.navbar{
    background: #2d333b;
    height: 80px;
    width: 100%;
}