<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Title>SpaceGameDev's Website</Title>
    <link rel="shortcut icon" type="image/ico" href="images\SGDProfileImageLightNew1Round.png"/>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="header">
      <nav class="main-nav-bar">
        <div class="nav-links">
          <label class="logo">SpaceGameDev</label>
          <ul>
            <li><a class="active" href="index.html">Home</a></li>
            <li><a href="Aboutpage.html">About</a></li>
          </ul>
        </div>
      </nav>
    </section>
    <section class="home-page-content1">
      <div style="display: inline-block;vertical-align:top;">
        <img class="SGDLogo1" src="images/SGDProfileImageLightNew1Rounded.png" width="256px"/>
      </div>
      <div class="front-page-desc1" style="display: inline-block;">
        <p>
          <br>
        <h1>Hello! I'm SpaceGameDev</h1><br>
        I'm an Aspiring Level Designer/Environment Artist and Student from Orlando, Florida.<br><br>
        I work on mods for games such as <a href="https://www.satisfactorygame.com/" class="sflink" style="color: rgb(40, 165, 250)">Satisfactory</a> as well as working on my own Game Development Projects.<br><br>
        <h2>You can check the "About" Page for more info.</h2>
      </p>
      </div>
    </section>
    <section class="YT-channel-section">
    <nav class="section-partition">
      <div class="YT-channel-trailer">
      <p><br><br><br><br>
      <img src="images\YTChannelBanner.png" width="60%">
      </p>
      </div>
    </nav>
    </section>
    <section class="footer">
      <div class="footer-text1"><br>
      <h1>By SpaceGameDev568, 2022</h1>
      </div><br><br><br><br>
      <div class="footer-text2">
      <h2>Page Last Updated: July 17th, 2022</h2>
      </div>
    </section>
  </body>
</html>