*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.header{
    min-height: 0vh;
    width: 100%;
    background-color: #22272e;
    background-position: center;
    position: relative;
}

body{
    font-family: Orbitron;
}

label.logo{
    color:azure;
    font-size: 40px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
}

.main-nav-bar{
    background: #2d333b;
    height: 80px;
    width: 100%;
}

.nav-links ul{
       float: right;
       margin-right: 40px;
}

.nav-links ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.nav-links ul li a{
    color: azure;
    text-decoration: none;
    font-size: 20px;
    padding: 4px 10px;
    border-radius: 4px;
}

a.active,a:hover{
    background: #ffffff52;
    transition: .5s;
}

.banner1{
    text-align: center;
}

.bannerimg{
    border-radius: 5px;
}

.home-page-content1{
    min-height: 20vh;
    width: 100%;
    background-color: #22272e;
    background-position: center;
    position: relative;
}

.SGDLogo1{
    padding: 10px 10px;
}

.front-page-desc1{
    color: azure;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 20px;
    float: inline-start;
    word-wrap: normal;
}

.sflink{
    padding: 2px 2px;
    border-radius: 4px;
}

.section-partition{
    background: #2d333b;
    height: 80px;
    width: 100%;
}

.YT-channel-section{
    min-height: 93vh;
    width: 100%;
    background-color: #22272e;
    background-position: center;
    position: relative;
}

.YT-channel-trailer{
    color: azure;
    font-size: 30px;
    text-align: center;
}

.footer{
    min-height: 20vh;
    width: 100%;
    background-color: #2d333b;
    background-position: center;
    position: relative;
}

.footer-text1{
    color: azure;
    text-align: center;
}

.footer-text2{
    color: azure;
    text-align: center;
}