/* Whole Page */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*  Start Header Section */

.header{
    background: #2d333b;
    height: 80px;
    width: 100%;
}

.sidemenu{
    line-height: 2px;
    float: left;
}

.logo{
    color: azure;
    font-family: Orbitron;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
}

.page-indicator{
    float: right;
    color: azure;
    font-family: Orbitron;
    font-size: 30px;
    font-weight: bold;
    background-color: #ffffff52;
    padding: 4px 10px;
    border-radius: 10px;
    text-align: right;
    margin: -32px 10px;
}

/*  End Header Section */

/* Start Back to Top button modified from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #707070;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 30px; /* Default 18px*/
    font-family: Orbitron;
    font-weight: bold
  }
  
  #myBtn:hover {
    background-color: #5a5a5a;
  }

/* End Back to Top button */

/*  Start Bio-Short Section */

.bio-short{
    background-color: #22272e;
    height: 544px;
    width: 100%;
}

.bio-short-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid #707070;
    border-radius: 60px;
}

.intro01{
    font-family: Segoe UI;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: azure;
    line-height: 40px;
}

.about01{
    width: 40%;
    text-align: center;
    font-family: Segoe UI;
    font-size: 30px;
    font-weight: semibold;
    color: azure;
    line-height: 125%;
    line-break: 20%;
    margin-left: auto;
    margin-right: auto;
}

/*  End Bio-Short Section */

/* Vertical Borders */

.vert-border-medium01{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 614px;
    left: 3.125%;
    width: 93.75%;
    z-index: 10;
    border: 10px solid #707070;
    border-radius: 10px
}

.vert-border-medium02{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 1615px;
    left: 3.125%;
    width: 93.75%;
    z-index: 10;
    border: 10px solid #707070;
    border-radius: 10px
}

/* End Vertical Borders */

/* Start About-Me Section */

.about-me{
    height: 1000px;
    width: 100%;
    background-color: #22272e;
}

.spacebg01{
    position: absolute;
    opacity: 20%;
    height: 1000px;
    width: 100%;
}

.about-me-header{
    position: relative;
    z-index: 10;
    align-items: center;
    font-family: Orbitron;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: azure;
    line-height: 144px;
}

.about-me-desc{
    position: absolute;
    z-index: 10;
    font-family: Segoe UI;
    font-size: 40px;
    font-weight: semibold;
    text-align: center;
    color: azure;
    line-height: 53px;
    margin: 0% 18.125%;
}

/* End About-Me Section */

/* Start What-I-Use Section */

.what-i-use{
    height: 1500px; /* Design calls for 1587px */
    width: 100%;
    background-color: #22272e;
}

.what-i-use-headertext{
    position: relative;
    z-index: 10;
    align-items: center;
    font-family: Orbitron;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: azure;
    line-height: 144px;
}

.what-i-use-content{
    position: relative;
    z-index: 10;
    align-items: center;
    font-family: Orbitron;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: azure;
    line-height: 144px;
}

.what-i-use-text{
    margin-left: 40%;
    margin-right: 40%;
    position: relative;
    z-index: 10;
    align-items: center;
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: azure;
    line-height: 27px;
}

.vert-border-end_what-i-use{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 3114px;
    left: 3.125%;
    width: 93.75%;
    z-index: 10;
    border: 10px solid #707070;
    border-radius: 10px
}

/* End What-I-Use Section */

/* Start Footer Section */

.footer{
    background: #2d333b;
    height: 200px;
    width: 100%;
}

.footertext1{
    margin-left: 30%;
    margin-right: 30%;
    color: azure;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}